{% load static %}
{% load extra_tags %}


<div class="tours">
    {% for tour in tours %}
    <article class="tour">
    {% if tour.tour.is_from_api %}
        <img src="{{ tour.tour.api_info.image }}" alt="">
    {% else %}
        <img src="{% static 'tour.tour.inage.url' %}" alt="">
    {% endif%}
    <h5>
        <a href="{% url 'tour_detail' tour.slug %}">
            {{ tour.title }}
        </a>
    </h5>
    <p>
        <a href="{% url 'tour_detail' tour.slug %}">
            {{ tour.summary | truncatewords:15 }}
        </a>
    </p>
    <div class="more_info">
        <div class="stars">
            {% for star in x|times:tour.tour.stars %}
            <i class="material-icons">star_rate</i>
            {% endfor %}
            <small> (120 review(s))</small>
        </div>
        <span class="price">$ {{tour.tour.prices.price_adult}}</span>
    </div>
    </article>
    {% endfor %}
</div>