@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    background-color: #DBF6F8;
}
a {
    color: black;
    text-decoration: none;
}
/* global styling */
.text-center {
    text-align: center;
}
.title {
    margin: 5% 0;
}
/* end global */

/* start nav */
nav .nav-wrapper {
    background-color: #638CF6;
    padding-left: 1%;
    margin: 0;
}

nav .nav-wrapper a{
    font-family: 'Roboto', sans-serif !important;
    color: white;
    font-weight: 600;
}

/* end nav */

/* start header */
header {
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 5% 0;
    height: 50vh;
    
    display: grid;
    text-align: center;
    
    background-image: url('../img/header2.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top;
}

header.sub {
    padding: 0;
    height: 20vh !important;
    align-items: center;
    background-size: cover;
    background-position: bottom !important;
}

header .text {
    color: aliceblue;
    font-weight: thin !important;
}
header .text h1 {
    font-weight: bold;
    font-size: 300%;
}
header .text h3 {
    font-size: 200%;
}
header .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    top:0;
    opacity: .6;
    z-index: -1;
}

header form input {
    width: 50vw !important;
    border: 1px solid grey;
    background: white !important;
}

header form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

header form input {
    width: 50% !important;
}

header form input.explore {
    width: 100px !important;
    height: 50px !important;
    color: white;
    border-radius: 5% !important;
    border: none;
}

header form input.explore:hover {
    cursor: pointer
}
/* start destinations */
.destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 60px;
}
.destination {
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5%;
    transition: .3s all;
}
.destination:hover {
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}
.destination a {
    color: black;
}
.destination img{
    width: 100%;
    height: 75% !important;
}
/* end destinations */

/* start feautured */
.feautured {
    margin: 60px 0;
}
.feautured h4 {
    font-weight: bold;
    text-transform: uppercase;
}
.tours {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 335px));
    grid-gap: 10px;
    justify-content: center;
}
.tours .tour {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s all;
    padding: 5px;
}

.tours .tour .more_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tours .tour .more_info .stars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}
.tours .tour .more_info small{
    margin-left: 20px
}
.tours .tour .more_info .stars i {
    width: 10px;
    color: #F2C94C;
    margin: 10px 0 0 5px;
}
.tours .tour .more_info .price {
    font-weight: bold;
    font-size: 180%;
    text-align: right;
    margin: 0 10px 0px 0;
}
.tours .tour:hover {
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}
.tours .tour>img {
    width: 100%;
}
.tours .tour .price {
    font-weight: bold;
}
/* end feautured */

/* start support box */
.support .support-box {
    background: #638CF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center
}
.support .support-box span {
    font-weight: 400;
    align-self: center;
}
.support .support-box span:first-child {
    font-size: 180%;
}
.support .support-box img {
    width: 147px;
    height: 147px;
    display: block;
    margin: auto
}
/* end support box */

/* start footer */
footer{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    align-items: center;
    margin-top: 60px;
}
.copy-right{
    background: #638CF6;
    text-align: center;
    color: #FFFFFF;
}
/* end footer */

/* tours list */
.tours_list {
    margin: 60px 0;
}