section{
    margin: 2% 0;
    padding: 0px 2% 2% 2%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
    padding: 0 1% 1% 1%;
}


section.description .title {
    background: #638CF6;
    color: #fff;
    padding: 10px;
    margin-bottom: 60px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    padding: 0 10vw
}

.toast {
    background: #09A598 !important;
}
.w3-content {
    position: relative;
}

.display-left, .display-right {
    position: absolute;
    top: 40%;
    padding: 1%;
    background: rgb(34, 33, 33);
    border: none;
    color: #ffffff;
}
.display-left:hover, .display-right:hover {
    cursor: pointer;
}
.display-left {
    left: 0;
}
.display-right {
    right: 0;
}

