{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{tour.title}}
{% endblock title %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="container">

        <section class="description">
            <h5 class="title">Gallery</h5>
            <div class="text">
                <div class="w3-content w3-display-container">
                    {% for item in gallery %}
                        {% if item.image %}
                            <img class="mySlides" src="{{ item.image.url }}" style="width:100%; height:50vh !important" alt="tours and travels">
                        {% else %}
                            <img class="mySlides" src="{{ item.api_image }}" style="width:100%; height:50vh !important" alt="tours and travels">
                        {% endif %}
                    {% endfor %}
                    <button class="display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>
            </div>
        </section>

        <section class="description">

            <h5 class="title">Description</h5>

            <h5>{{tour.title}}</h5>


            <div class="text">

                {{tour.description | safe}}

            </div>

            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a href="#swipe-1" class="active">Include</a></li>
                <li class="tab col s3"><a href="#swipe-2">Exclude</a></li>
                <li class="tab col s3"><a href="#swipe-3">Highlights</a></li>
            </ul>
            <div id="swipe-1" class="col s12 ">
                <ul>
                    {% for inc in tour.include %}
                        <li>
                            <p>{{ inc }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="swipe-2" class="col s12 ">
                <ul>
                    {% for ex in tour.exclude %}
                        <li>
                            <p>{{ ex }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="swipe-3" class="col s12 ">
                {% for hl in tour.highlights %}
                    <p>{{ hl }}</p>
                {% endfor %}
            </div>


            <div class="notes">
                <h6>Notes</h6>
                {% for note in tour.notes %}
                    <p>{{ note }}</p>
                {% endfor %}
            </div>

        </section>

        <section class="description">
            <h5 class="title">Book</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="inputs">
                    {{form}}
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                </button>
            </form>
        </section>

        <!-- start support box -->
        <section class="support" style="padding:0">
            <article class="support-box row">
            <span>24/7 support</span>
            <img src="{% static 'img/support-man.png' %}" alt="">
            <span>Our customer service team is available 24/7 via email, phone and WhatsApp.</span>
            <img src="{% static 'img/support-woman.png' %}" alt="">
            </article>
        </section>
        <!-- end support box -->

    </div>
{% endblock content %}

{% block additional_js %}

<script>
    $(document).ready(function(){
        $('ul.tabs').tabs({
          swipeable : true,
          responsiveThreshold : 1920
        });
    });
</script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      x[slideIndex-1].style.display = "block";
    }
</script>

{% endblock %}