{% load static %}
<!-- start footer -->
<footer>
    <ul>
        <h5>Quick links:</h5>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Privacy and policy</a></li>
    </ul>
    <ul>
        <h5>IMT in social:</h5>
        <li><a href=""><img src="{% static 'img/facebook_circle-512.png' %}" alt="facebook-icon" width="15"> Facebook</a></li>
        <li><a href=""><img src="{% static 'img/twitter-icon.png' %}" alt="twitter icon" width="15"> Twitter</a></li>
        <li><a href=""><img src="{% static 'img/social-instagram-new-circle-512.png' %}" alt="instagram icon" width="15"> Instagram</a></li>
    </ul>
    <ul>
        <h5>Get in touch:</h5>
        <li><i class="material-icons"> phone </i> +34 616 277 763</li>
        <li><i class="material-icons"> phone </i> +212 645 560 402</li>
        <li><i class="material-icons"> location_on </i> Barcelona 24 Passeig del Born</li>
    </ul>
</footer>
<div class="copy-right">All rights reserved 2019 inmytours</div>
<!-- end footer -->

<!--jquery-->

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">