<!-- start menu -->
<nav>
  <div class="nav-wrapper lighten-2">
    <a href="/" class="brand-logo">InMyTours</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="#">Discover tours</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="#">Discover tours</a></li>
</ul>
<!-- end menu -->