{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block additional_css %}{% endblock additional_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

    {% include 'snippets/header.html' %}

        {% block content %}
        {% endblock content %}

    {% include 'snippets/footer.html' %}

    {% block additional_js %}
    {% endblock additional_js %}
</body>
</html>